/* Définir les polices du site */
@font-face {
    font-family: "gg sans Regular";
    src:
      url("../fonts/gg-sans-2/gg\ sans\ Regular.ttf") format("truetype");
  }

@font-face {
    font-family: "gg sans Medium";
    src:
      url("../fonts/gg-sans-2/gg\ sans\ Medium.ttf") format("truetype");
  }

@font-face {
    font-family: "gg sans Semibold";
    src:
      url("../fonts/gg-sans-2/gg\ sans\ Semibold.ttf") format("truetype");
  }

@font-face {
    font-family: "gg sans Bold";
    src:
      url("../fonts/gg-sans-2/gg\ sans\ Bold.ttf") format("truetype");
  }

/* Définir la couleur du texte de la page et la couleur du fond */

/* ------ Définir les polices du texte de la page ------ */

.gg-regular {
    font-family: "gg sans Regular", "Inter", sans-serif;
}

.gg-medium {
    font-family: "gg sans Medium", "Inter", sans-serif;
}

.gg-semibold {
    font-family: "gg sans Semibold", "Inter", sans-serif;
}

.gg-bold {
    font-family: "gg sans Bold", "Inter", sans-serif;
}
/* ------------------------------------------------------ */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
    color : white;
    display: grid;
    grid-template-columns: 5% 25% 70%; /* Permet de modéliser l'aspect 'en colonnes' des différentes zones de la page */
}

p {
    margin: 0;
    display: inline;
}

.profile-picture {
    border-radius: 50%;
}

/* --- Style de la barre latérale 1 (serveurs - server-bar) --- */

.server-bar {
    background-color: #1E2124;
    padding: 16px 8px;
}

.server-bar .private-messages, .server-bar .servers {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
}

.server-bar img {
    border-radius: 25%;  /* Affecte les icones des serveurs */
}

.server-bar .separator {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.server-bar .separator .server-separator {
    width: 32px;
    height: calc(1px - 0.5px);
    border-radius: calc(1px - 0.5px);
    background-color: #646C73;
}

/* ------------------------------------------------------------- */


/* ---------------- Style de la barre des amis ----------------- */

.friends-bar {
    display: flex;
    flex-direction: column;
    gap: 4px;   
    background-color: #282B30;
}

/* -------- Barre de recherche -------- */

input[type=search] {
    background-color: #1E2124;
    border: 0;
    border-radius: 6px;
    color: white;
}

.friends-bar .search-bar {
    display: flex;
    align-items: center;
    height: 64px;
    border-bottom: #1E2124 1px solid;
}

.friends-bar .search-bar input{
    height: 36px;
    margin: 8px 10px;
    width: 100%;
}

input[type=search]::placeholder {
    text-align: center;
    font-size: 14px;
    font-size: 14px;
}

.friends-bar .search-bar input[type=search]::placeholder {
    color: white;
}

/* ------------------------------------- */

/* ------ Options de la barre d'amis ------ */

.friends-bar .options {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    padding: 8px;
    gap: 18px;
}

.friends-bar .options div {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.friends-bar .options img {
    width: 16px;
    height: 16px;
}

.friends-bar .options a {
    font-size: 0.8em;
    color: #A8A8A8;
    text-decoration: none;
}

.friends-bar .separator {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.friends-bar .separator .friends-separator {
    width: 100%;
    height: calc(1px - 0.5px);
    border-radius: calc(1px - 0.5px);
    background-color: #646C73;
}

/* ----------------------------------------- */

/* ------- Style de la liste d'amis -------- */

/* Nom de la catégorie "Messages privés" */
.friends-bar .category-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin: 0 8px;
    height: 20px;
}

.friends-bar .category-name p {
    color: #A8A8A8;
    font-size: 0.7em;
    display: inline;
    margin: 0;
}
/* ------------------------------------- */

/* ----------- Liste d'amis ------------ */

.friends-bar .friend {
    margin: 0 8px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    height: 42px;
    margin-bottom: 2px;
    border-radius: 10px;
}

.friends-bar .friend p {
    display: inline;
    margin: 0;
    font-size: 0.8em;
    color: #A8A8A8;
}

/* ------------------------------------- */

/* ------------------------------------------------------------- */

main {
    background-color: #36393E;
    padding-left: 8px;
}

main .top-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 64px;
    border-bottom: #1E2124 1px solid;
}

/* Style du pseudo de l'ami courant */
main .top-bar .friend-username {
    margin-left: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 60%;
    font-size: 0.8em;
}